* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; 
}

.heading{
    display: flex;
    align-items: center;
    justify-content:center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 60px;
}

.heading a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 30px;
}

body{
    background-image: url('/assets/img/Background-one.jfif');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 60px;
}

footer p{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 30px;
}


